<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats Page</title>
    <link rel="stylesheet" href="css/chats.css" />
  </head>
  <body>
    <div class="Header">
      <h1>All Chats!!!!</h1>
      <a href="/chats/new"><button>New Chat</button></a>
    </div>
    <section>
      <% for(let chat of chats){ %>
      <div class="chat">
        <p>From: <span><%=chat.from%></span></p>
        <div class="msg">
          <p><%=chat.message%></p>
          <form action="/chats/<%= chat._id %>/edit" method="get">
            <button>Edit</button>
          </form>
          <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
        </div>
        <p>Recieved by:<span><%=chat.to%></span></p>
        <hr />
        <p>
          <span><%=chat.created_at.toString().split(" ")[4]%></span>,
          <%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%>
        </p>
      </div>
      <% } %>
    </section>
  </body>
</html>
