<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/css/edit.css" />
  </head>
  <body>
    <p>Chat Editor: <%=chat.id%></p>
    <p>This message was Sent by <b><%=chat.from%></b> to <b><%=chat.to%></b></p>
    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
      <textarea name="message" rows="6" cols="50"><%=chat.message%></textarea>
      <button>Save</button>
    </form>
  </body>
</html>
